@import '_variables', '_reset', 'components/_components';

.wrapper {
  position:absolute;
  width: 100%;
}

.colour-block {
  width: 10px;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
}