#loader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1b2735;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.container-container {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 0;
  width: 0;

  .container {
    width: 420px;
    height: 420px;
    position: absolute;
    top: -210px;
    left: -210px;

    * { position: absolute; }
  }
}

circle {
  border-radius: 50%/50%;

  &.center-bg {
    width: 150px;
    height: 150px;
    left: 135px;
    top: 136px;
    background: rgb(73,28,65); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(73,28,65,1) 0%, rgba(255,40,75,1) 65%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 65%, color-stop(0%,rgba(73,28,65,1)), color-stop(100%,rgba(255,40,75,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(73,28,65,1) 0%,rgba(255,40,75,1) 65%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(73,28,65,1) 0%,rgba(255,40,75,1) 65%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(73,28,65,1) 0%,rgba(255,40,75,1) 65%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(73,28,65,1) 0%,rgba(255,40,75,1) 65%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#491c41', endColorstr='#ff284b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    //animation: sparkle 2s linear infinite;
  }

  &.overlay-1 {
    top: 90px;
    left: 90px;
    width: 30px;
    height: 30px;
    background: #fff;
  }
  &.overlay-2 {
    top: 100px;
    left: 100px;
    width: 10px;
    height: 10px;
    background: #fff;
    animation: orbit 30s linear infinite;
  }

  &.top-bg {
    top: 10px;
    left: 10px;
    width: 400px;
    height: 200px;
    overflow: hidden;
    border-radius: 200px 200px 0 0;
    background: -moz-linear-gradient(top,  rgba(51,3,52,1) 0%, rgba(0,33,153,0.84) 32%, rgba(0,182,232,0.5) 120%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,3,52,1)), color-stop(32%,rgba(0,33,153,0.84)), color-stop(120%,rgba(0,182,232,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(51,3,52,1) 0%,rgba(0,33,153,0.84) 32%,rgba(0,182,232,0.5) 120%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(51,3,52,1) 0%,rgba(0,33,153,0.84) 32%,rgba(0,182,232,0.5) 120%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(51,3,52,1) 0%,rgba(0,33,153,0.84) 32%,rgba(0,182,232,0.5) 120%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(51,3,52,1) 0%,rgba(0,33,153,0.84) 32%,rgba(0,182,232,0.5) 120%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#330334', endColorstr='#8000b6e8',GradientType=0 ); /* IE6-9 */

    circle {
      width: 150px;
      height: 150px;
      left: 125px;
      top: 126px;
      background: rgb(73,28,65); /* Old browsers */
    }
  }

  &.middle {
    top: 210px;
    width: 100px;
    height: 74px;
    border-radius: 0;
    overflow: hidden;
    background: -moz-linear-gradient(top,  rgba(51,3,52,1) -490%, rgba(0,33,153,0.84) -348%, rgba(0,182,232,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-490%,rgba(51,3,52,1)), color-stop(-348%,rgba(0,33,153,0.84)), color-stop(100%,rgba(0,182,232,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(51,3,52,1) -490%,rgba(0,33,153,0.84) -348%,rgba(0,182,232,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(51,3,52,1) -490%,rgba(0,33,153,0.84) -348%,rgba(0,182,232,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(51,3,52,1) -490%,rgba(0,33,153,0.84) -348%,rgba(0,182,232,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(51,3,52,1) -490%,rgba(0,33,153,0.84) -348%,rgba(0,182,232,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#330334', endColorstr='#8000b6e8',GradientType=0 ); /* IE6-9 */

    circle {
      width: 150px;
      height: 150px;
      top: -75px;
      background: rgb(73,28,65); /* Old browsers */
    }

    &.bg-1 {
      left: 10px;
      border-bottom-left-radius: 100% 100%;
    }
    &.bg-2 {
      width: 97px;
      left: 110px;
      border-bottom-right-radius: 80% 100%;

      circle {
        left: 25px;
      }
    }
    &.bg-3 {
      width: 97px;
      left: 213px;
      border-bottom-left-radius: 80% 100%;

      circle {
        right: 25px;
      }
    }
    &.bg-4 {
      left: 310px;
      border-bottom-right-radius: 100% 100%;
    }
  }

}
.bottom-container-1 {
  top: 10px;
  left: 10px;
  width: 400px;
  height: 400px;
  border-radius: 50%/50%;
  overflow: hidden;

  * { overflow: hidden; }

  .bottom-container-2 {
    width: 400px;
    height: 102px;
    bottom: 0;
    border-top-left-radius: 60% 30%;
    border-top-right-radius: 60% 30%;

    .bottom-bg {
      bottom: 0;
      left: 40px;
      width: 320px;
      height: 110px;
      background: rgb(73,6,53); /* Old browsers */
      background: -moz-linear-gradient(left,  rgba(73,6,53,1) 10%, rgba(199,31,70,1) 45%, rgba(199,31,70,1) 55%, rgba(73,6,53,1) 90%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(10%,rgba(73,6,53,1)), color-stop(45%,rgba(199,31,70,1)), color-stop(55%,rgba(199,31,70,1)), color-stop(90%,rgba(73,6,53,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  rgba(73,6,53,1) 10%,rgba(199,31,70,1) 45%,rgba(199,31,70,1) 55%,rgba(73,6,53,1) 90%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  rgba(73,6,53,1) 10%,rgba(199,31,70,1) 45%,rgba(199,31,70,1) 55%,rgba(73,6,53,1) 90%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  rgba(73,6,53,1) 10%,rgba(199,31,70,1) 45%,rgba(199,31,70,1) 55%,rgba(73,6,53,1) 90%); /* IE10+ */
      background: linear-gradient(to right,  rgba(73,6,53,1) 10%,rgba(199,31,70,1) 45%,rgba(199,31,70,1) 55%,rgba(73,6,53,1) 90%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#490635', endColorstr='#490635',GradientType=1 ); /* IE6-9 */

      circle {
        width: 150px;
        height: 150px;
        left: 85px;
        top: 30px;
        background: rgb(26,4,20); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(26,4,20,1) 0%, rgba(94,20,59,1) 50%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,4,20,1)), color-stop(50%,rgba(94,20,59,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(26,4,20,1) 0%,rgba(94,20,59,1) 50%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(26,4,20,1) 0%,rgba(94,20,59,1) 50%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(26,4,20,1) 0%,rgba(94,20,59,1) 50%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(26,4,20,1) 0%,rgba(94,20,59,1) 50%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a0414', endColorstr='#5e143b',GradientType=0 ); /* IE6-9 */
      }
    }
  }
}
.corner {
  top: 292px;
  width: 82px;
  height: 79px;
  border: 20px solid transparent;

  &.corner-overlay-1 {
    left: 37px;
    border-left-color: #1b2735;
    -webkit-transform: rotate(6.5deg);
    transform: rotate(6.5deg);
  }
  &.corner-overlay-2 {
    right: 37px;
    border-right-color: #1b2735;
    -webkit-transform: rotate(-6.5deg);
    transform: rotate(-6.5deg);
  }
}
.shuttle {
  top: 170px;
  left: 190px;
  width: 40px;
  height: 50px;
  animation: shake 6s linear infinite;

  * { background: #fff; }

  .shaft {
    width: 6px;
    height: 41px;
    top: 5px;
    left: 17px;
  }
  .cross {
    width: 32px;
    height: 2px;
    left: 4px;
    top: 39px;
  }
  .wing-1 {
    width: 14px;
    height: 26px;
    top: 13px;
    left: 4px;
    overflow: hidden;
    background: none;

    .wing {
      width: 54px;
      height: 70px;
      top: -34px;
      left: -30px;
      background: transparent;
      border: 10px #FFF solid;
    }
  }
  .wing-2 {
    width: 14px;
    height: 26px;
    top: 13px;
    right: 4px;
    overflow: hidden;
    background: none;

    .wing {
      width: 54px;
      height: 70px;
      top: -34px;
      right: -30px;
      background: transparent;
      border: 10px #FFF solid;
    }
  }
  .tail-wing-1 {
    width: 9px;
    height: 5px;
    top: 39px;
    left: 10px;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
  }
  .tail-wing-2 {
    width: 9px;
    height: 5px;
    top: 39px;
    right: 10px;
    -webkit-transform: skewY(10deg);
    transform: skewY(10deg);
  }
}
.sparkle {
  width: 12px;
  height: 12px;
  top: 341px;
  left: 310px;

  &.one {
    animation: sparkle 2s linear 0.5s infinite;
  }

  &.two {
    width: 6px;
    height: 6px;
    top: 335px;
    left: 282px;
    animation: sparkle 2s linear infinite;
  }

  &.rocket.one {
    top: 132px;
    left: 315px;
    width: 4.5px;
    height: 15px;
    animation: shakeup 6s linear infinite;
  }
  &.rocket.two {
    top: 152px;
    left: 304px;
    width: 4px;
    height: 14px;
    opacity: 0.7;
    animation: shakeup 6s linear 0.5s infinite;
  }

  .section {
    width: 50%;
    height: 50%;
    overflow: hidden;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 68%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 101%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(68%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,0.9)), color-stop(100%,rgba(255,255,255,1)), color-stop(101%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 68%,rgba(255,255,255,0.9) 75%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 101%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 68%,rgba(255,255,255,0.9) 75%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 101%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 68%,rgba(255,255,255,0.9) 75%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 101%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 68%,rgba(255,255,255,0.9) 75%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 101%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-size: 200% 200%;


    &.one {
      top: 0;
      left: 0;
      background-position: -100% -100%;
    }
    &.two {
      top: 0;
      right: 0;
      background-position: 200% -100%;
    }
    &.three {
      bottom: 0;
      right: 0;
      background-position: 200% 200%;
    }
    &.four {
      bottom: 0;
      left: 0;
      background-position: -100% 200%;
    }
  }
}

.trail {
  height: 70px;
  width: 1px;
  top: 141px;
  left: 317px;
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

  &.one {
    animation: shakeup 6s linear infinite;
  }

  &.two {
    height: 55px;
    width: 1px;
    top: 161px;
    left: 306px;
    opacity: 0.7;
    animation: shakeup 6s linear 0.5s infinite;
  }
}

@keyframes sparkle {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes orbit {
  0% {
    transform: rotateZ(0deg) translateX(30px)
  }
  100% {
    transform: rotateZ(360deg) translateX(30px)
  }
}

@keyframes shakeup {
  0% { transform: translate(0, 1px); }
  10% { transform: translate(0, -2px); }
  20% { transform: translate(0, 0px); }
  30% { transform: translate(0, 2px); }
  40% { transform: translate(0, -1px); }
  50% { transform: translate(0, 2px); }
  60% { transform: translate(0, 1px); }
  70% { transform: translate(0, 1px); }
  80% { transform: translate(0, -1px); }
  90% { transform: translate(0, 2px); }
  100% { transform: translate(0, -2px); }
}


@keyframes shake {
  0%, 100% { transform: translate(0px, 0px); }
  10% { transform: translate(-1px, 2px); }
  20% { transform: translate(-1px, -2px); }
  30% { transform: translate(-1px, 1px); }
  40% { transform: translate(1px, 1px); }
  50% { transform: translate(1px, -1px); }
  60% { transform: translate(-1px, -1px); }
  70% { transform: translate(-1px, 0px); }
  80% { transform: translate(0px, 2px); }
  90% { transform: translate(1px, 2px); }
}